@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');

body{

    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: burlywood;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.coin-box{
    border-radius: 15px;
    background-color: rgba(215, 231, 215, 0.459);
    width: 350px;
    max-width: 350px;
    margin: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 45px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 1125px;
    background-color: rgba(215, 231, 215, 0.459);
    text-align: center;
    font-size: 50px;
}
p{
    margin-top: -20px;
}

img{
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input{
    border-radius: 5px;
    background-color: burlywood;
    /* height: 30px; */
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: black;
    font-weight: bold;

}
button{
    background-color: rgba(215, 231, 215, 0.459);
    border-radius: 5px;
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: bold;
    
}
